<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Payslips</title>
</head>
<body>
<h1>Payslips for Employee</h1>

<table border="1">
    <thead>
    <tr>
        <th>Pay Month</th>
        <th>Download PDF</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop over all payslips -->
    <tr th:each="payslip : ${payslipList}">
        <td th:text="${payslip.payMonth}"></td>
        <td>
            <a th:href="@{'/' + ${payslip.employee.employeeId} + '/' + ${payslip.payMonth} + '/pdf'}">Download</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
